body{
    background-color: darkslateblue;
    color: white;
}
main{
    width: 300px;
    padding: 20px;
    margin: 20vh auto;
}
.blue{
    padding: 20px 40px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom:10px ;
    width: 300px;
    font-size: 30px;
    border:  none;
    background-color: yellow;
}
.pink{
    padding: 20px 40px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom:10px ;
    width: 50spx;
    font-size: 30px;
    border:  none;
    background-color: red;
    backdrop-filter: transparent;
 }

 .green {
    background-color: green;
    margin-bottom: 10px;
    width: 300px;
    font-size: 30px;
    border-radius: 5px;
    padding: 20px 40px;
    border-radius: 5px;
 }


 .btncolors {
    display: flex;
    flex-direction: column;

 }